<!DOCTYPE html>
<html lang="en">
    <head>
        <title>yangr2 CS493 Project</title>
    </head>
    <body>
        <h1 style="text-align: center; margin: 10rem 0rem 0rem 0rem">*** Welcome! CS493 Project ***</h3>
        if logged_in
            <p style="text-align: center; font-size: 1.5rem; margin: 1rem 0rem">User ID: #{user_id}</p> 
            <p style="text-align: center; font-size: 1.5rem; margin: 1rem 0rem">Email: #{email}</p> 
            <a href="https://cs493-project-351300.wn.r.appspot.com/profile" style="display: block; text-align: center; font-size: 1.5rem; margin: 1rem 0rem">User Info</a> 
            <a href="https://cs493-project-351300.wn.r.appspot.com/logout" style="display: block; text-align: center; font-size: 1.5rem; margin: 1rem 0rem">Log Out</a> 
        else
            <p style="text-align: center; font-size: 1.5rem; margin: 1rem 0rem">Click below to log in or sign up to get a new JWT.</p>
            <a href="https://cs493-project-351300.wn.r.appspot.com/login" style="display: block; text-align: center; font-size: 1.5rem; margin: 1rem 0rem">Log In or Sign Up</a>
    </body>
</html>