<!DOCTYPE html>
<html lang="en">
    <head>
        <title>yangr2 CS493 Project</title>
    </head>
    <body>
        <h1 style="text-align: center; margin: 10rem 0rem 0rem 0rem">*** Welcome! CS493 Project ***</h3>
        <p style="text-align: center; font-size: 1.5rem; margin: 1rem 0rem">User ID: #{user_id}</p> 
        <p style="text-align: center; font-size: 1.5rem; margin: 1rem 0rem">Email: #{email}</p> 
        <p style="text-align: center; font-size: 2rem; margin: 1rem 0rem"> Your JWT</p>
        <p style="width: 600px; fit-content; margin: 0 auto; line-break: anywhere;">#{id_token}</p>
        <a href="https://cs493-project-351300.wn.r.appspot.com/logout" style="display: block; text-align: center; font-size: 1.5rem; margin: 1rem 0rem">Log Out</a> 
    </body>
</html>