<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Silver Star Library - BooksCategories</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8f9991dd01.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/css/general_styles.css" type="text/css">
        <link rel="stylesheet" href="static/css/booksCategories_styles.css" type="text/css">
    </head>
    <body>
        <h1 class="title">Silver Star Library - Manage BooksCategories</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light library_navbar">
            <div class="container-fluid">
                <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav library_navbar_nav">
                    <a class="nav-link nav_link_text" href="/">Home</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage Books</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="books">Books</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="booksAuthors">BooksAuthors</a></li>
                            <li><a class="dropdown-item" href="booksCategories">BooksCategories</a></li>
                        </ul>
                    </li>
                    <a class="nav-link nav_link_text" href="authors">Manage Authors</a>
                    <a class="nav-link nav_link_text" href="categories">Manage Categories</a>
                    <a class="nav-link nav_link_text" href="copies">Manage Copies</a>
                    <a class="nav-link nav_link_text" href="borrowRecords">Manage Borrow Records</a>
                    <a class="nav-link nav_link_text" href="members">Manage Members</a>
                </div>
            </div>
        </nav>
        <form action="/booksCategories" class="book_category_form_add" method="post">
            <p class="book_category_p">Add Book & Category Relationship</p>
             <select name="add_category_id" required class="book_category_input">
            {% for category in categories %}
                <option value="{{category['categoryId']}}">Categories ID: {{category['categoryId']}} - Name: {{category['categoryName']}}</option>
            {% endfor %}
            </select>
            <select name="add_book_id" required class="book_category_input">
            {% for book in books %}
                <option value="{{book['bookId']}}">Books ID: {{book['bookId']}} - Title: {{book['title']}}</option>
            {% endfor %}
            </select>
            <input type="hidden" name="action" value="add_booksCategories">
            <input type="submit" value="Add" class="book_category_button">
        </form>
        <form action="/booksCategories" class="book_category_form_search" method="post">
            <p class="book_category_p">Search Book & Category Relationship By Id</p>
            <input type="radio" id="relation_book_id_c" name="search_relation_by" value="relation_book_id" checked>
            <label for="relation_book_id_c" style="margin-right:2rem;">BookId</label>
            <input type="radio" id="relation_category_id" name="search_relation_by" value="relation_category_id">
            <label for="relation_category_id">CategoryId</label><br>
            <input placeholder="BookId/CategoryId" name="search_relation_input" type="text" class="book_category_input_search" required>
            <input type="hidden" name="action" value="search_booksCategories">
            <input type="submit" value="Search" class="book_category_button_search">
            <p class="book_category_p_2" style="font-size:1rem;">Note:Please search the Book Id or the Category Id before searching.</p>
        </form>
        {% if returnCode == '001' %}
            <p class="book_category_p" style="margin-left:1rem;">The Random 10 Addings</p>
            {% if booksCategories != None %}
                <table class="book_category_table">
                    <thead>
                        <tr>
                            {% for key in booksCategories[0].keys() %}
                                <th class="book_category_table_head">{{ key }}</th>
                            {% endfor %}
                            <th class="book_category_table_head" style="width: 4rem;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book_category in booksCategories %}
                            <tr style="font-size:1rem;">
                                {% for key in book_category.keys() %}
                                    <td class="book_category_table_body">{{book_category[key]}}</td>
                                {% endfor %}
                                <td class="book_category_table_body">
                                    <button data-id-1="{{book_category['bookId']}}" data-id-2="{{book_category['categoryId']}}" class="editBtn"><i class="far fa-edit"></i></button>
                                    <button data-id-1="{{book_category['bookId']}}" data-id-2="{{book_category['categoryId']}}" class="delBtn"><i class="far fa-trash-alt" ></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="book_author_msg">Oops! No Result was Found.</p>
            {% endif %}
        {% endif %}
        {% if returnCode == '002' %}
            <p class="book_category_p">Search Result</p>
            {% if booksCategories != None %}
                <table class="book_category_table">
                    <thead>
                        <tr>
                            {% for key in booksCategories[0].keys() %}
                                <th class="book_category_table_head">{{ key }}</th>
                            {% endfor %}
                            <th class="book_category_table_head" style="width: 4rem;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book_category in booksCategories %}
                            <tr style="font-size:1rem;">
                                {% for key in book_category.keys() %}
                                    <td class="book_category_table_body">{{book_category[key]}}</td>
                                {% endfor %}
                                <td class="book_category_table_body">
                                    <button data-id-1="{{book_category['bookId']}}" data-id-2="{{book_category['categoryId']}}" class="editBtn"><i class="far fa-edit"></i></button>
                                    <button data-id-1="{{book_category['bookId']}}" data-id-2="{{book_category['categoryId']}}" class="delBtn"><i class="far fa-trash-alt" ></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="book_category_msg">Oops! No Result was Found.<br>Please try another search.</p>
            {% endif %}
            <div class="book_category_btn_c"><button type="button" class="book_category_button_refresh"><a href="booksCategories" class="book_category_link">Refresh</a></button></div>
        {% endif %}
        {% if returnCode == '003' %}
            <p class="book_category_msg">The relationship between book Id {{booksCategories[0]}} and category Id {{booksCategories[1]}} was added in database.</p>
            <div class="book_category_btn_c"><button type="button" class="book_category_button_refresh"><a href="booksCategories" class="book_category_link">Refresh</a></button></div>
        {% endif %}
        {% if returnCode == '004' %}
            <p class="book_category_msg">The relationship between book Id {{booksCategories[0]}} and category Id {{booksCategories[1]}} already existed into database.</p>
            <div class="book_category_btn_c"><button type="button" class="book_category_button_refresh"><a href="booksCategories" class="book_category_link">Refresh</a></button></div>
        {% endif %}
        {% if returnCode == '005' %}
            <p class="book_category_msg">The categoryId or/and categoryId you input is/are not exist. Please check again.</p>
            <div class="book_category_btn_c"><button type="button" class="book_category_button_refresh"><a href="booksCategories" class="book_category_link">Refresh</a></button></div>
        {% endif %}
        <div class="modal fade edit_pop" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="editModalClose1" style="border:unset; background:unset;">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/booksCategories" method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="bookId_bc" id="bookId_bc" value="0">
                        <input type="hidden" name="category_id_old" id="category_id_old" value="0">
                        <input type="hidden" name="action" value="edit_book_category">
                        <div class="mb-3">
                            <label for="categoryId_bc">Category Id</label>
                            <input id="categoryId_bc" name="categoryId_bc">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="editModalClose2">Close</button>
                        <button type="submit" class="btn btn-primary" id="saveEdit">Save changes</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <script src="static/js/booksCategories.js"></script>  
    </body>
</html>