@import url("https://fonts.googleapis.com/css?family=Audiowide");

/*Copies*/
.copy_form_add {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.copy_form_search {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.copy_p {
    color: #413b88;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
}

.copy_p_small {
    color: #413b88;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
}

.copy_input {
    height: 2.5rem;
    margin-right: 1rem;
    font-family: "Audiowide", sans-serif;
}

.copy_button {
    height: 2.3rem;
    width: 7rem;
    color: #f4e7de;
    font-weight: bold;
    background-color: #c1a792;
    font-family: "Audiowide", sans-serif;
}

.copy_table {
    margin-left: 1rem;
    font-family: "Audiowide", sans-serif;
}

.copy_table_head {
    color: #413b88;
    font-size: 1.2rem;
    font-weight: bold;
    width: 15rem;
    height: 2.3rem;
}

.copy_table_body {
    color: #514d92f2;
    font-size: 1.2rem;
    height: 2.3rem;
}

.copy_input_2 {
    height: 2.5rem;
    margin-right: 1rem;
    font-family: "Audiowide", sans-serif;
}

.copy_button_2 {
    height: 2.3rem;
    width: 7rem;
    color: #f4e7de;
    font-weight: bold;
    background-color: #c1a792;
    font-family: "Audiowide", sans-serif;
}

.copy_msg {
    text-align: center;
    margin-top: 5rem;
    color: #413b88;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
}


.copy_btn_c {
    display: flex;
}

.copy_button_refresh {
    height: 2.3rem;
    width: 7rem;
    background-color: #c1a792;
    margin: auto;
    margin-bottom: 2rem;
}

.copy_link {
    color: #f4e7de;
    font-weight: bold;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
}

.copy_link:hover {
    color: #f4e7de;
}

.editBtn {
    color:#514d92f2;
    border:unset;
    background:unset;
    padding:unset;
}

.editBtn:hover {
    color: #160a8c;
}

.delBtn {
    color:#514d92f2;
    border:unset;
    background:unset;
    padding:unset;
}

.delBtn:hover {
    color: #160a8c;
}

.copy_p_2 {
    color: #413b88;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    margin-left: 1rem;
}

.btn-primary {
    color: #f4e7de;
    font-weight: bold;
    background-color: #c1a792;
    font-family: "Audiowide", sans-serif;
    border-color: #6c757d;
}

.btn-primary:hover {
    background-color: #86644d;
    border-color: #6c757d;
}

.edit_pop{
    color: #413b88;
    font-size: 1rem;
    font-family: "Audiowide", sans-serif;
}